@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Red+Hat+Display:wght@500;700;900&display=swap");

/* Size will be - Mobile: 375px
- Desktop: 1440px


 */
/* 
 font-family: 'Kumbh Sans', sans-serif; */

:root {
  /* Primary Colors */
  --Dark-cyan: hsl(185, 75%, 39%);
  --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);
  /* Neutral Colors */
  --Dark-gray: hsl(0, 0%, 59%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Dark-cyan);
  font-size: 18px;
  font-family: "Kumbh Sans", sans-serif;
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  text-align: center;
}

.wrapper {
  max-width: 420px;
  background-color: #fff;
  border-radius: 1.2rem;
  padding: 0 21px;
}
/* Divition */
.card {
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
  min-width: 112%;
  position: relative;
  right: 21px;
}

.victor {
  border-radius: 100%;
  border: 1px solid #fff;
}

/* There has to be some additional padding added */
/* space out the edges more  */
/* Get the margins to be wider and centered positioned */
/* There need to be more direct comparisons with both the mobile and desktop size */
